# Ignore everything
*

# Allow these
!.gitignore
!README.md

#Allow images and docs
!*.pdf
!*.png
!*.jpg
!*.jpeg
!*.svg

#Allow JS Stuff
!JS/
!JS/**

#Ignore

JS/node_modules/
.env
*.log
.vscode/

#Allow Week8
!week8/