# Ignore everything
*

# Allow these
!.gitignore
!README.md
!package.json
!package-lock.json
!app.js

#Allow images and docs
!*.pdf
!*.png
!*.jpg
!*.jpeg
!*.svg

#Allow folders
!bin/
!bin/**
!routes/
!routes/**
!public/
!public/**
!views/
!views/**

#Ignore
node_modules/
.env
*.log
.vscode/
